
// Common Brand Colors:
$success-color:         #00d624;
$error-color:           #bd2c00;
$warning-color:         #c9510c;
$info-color:            #63c0df;

// Purples:
$color-purple:          #620CE3;
$color-purple-hover:    #6936CF;
$color-purple-darker:   #3C138F;
$color-purple-disabled: #272727;

// Yellows:
$color-yellow:          #FCAE00;
$color-yellow-hover:    #FBB926;
$color-yellow-darker:   #F5A623;
$color-yellow-disabled: #FBF0B3;

// Greys:
$true-black:            #000000;
$off-black:             #222222;
$dark-grey:             #333333;
$medium-grey:           #666666;
$light-grey:            #999999;
$off-white:             #f5f5f5;
$true-white:            #ffffff;

// Greens:
$color-green:           #2ACA4B;
$color-green-hover:     #199E33;
$color-green-darker:    #006607;
$color-green-disabled:  #94E4A5;

// Blues:
$color-blue:            #007FFF;
$color-blue-hover:      #0066CC;
$color-blue-darker:     #003E83;
$color-blue-disabled:   #7FBFFF;

// Mints:
$color-mint:            #159F84;
$color-mint-hover:      #0B856D;
$color-mint-darker:     #045943;
$color-mint-disabled:   #8ACFC1;

// Reds:
$color-red:             #D8524E;
$color-red-hover:       #B33C38;
$color-red-darker:      #A52724;
$color-red-disabled:    #EBA8A6;
